@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: 0 !important;
}

body {
  font-family: Yantramanav, sans-serif;
  background-color: #181c14;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

button {
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

button:active {
  filter: brightness(1.2);
}

#main-container {
  display: grid;
  height: 100%;
  width: 100%;
  max-height: 500px;
  max-width: 1000px;
  padding: 16px 25px;
  align-items: center;
  grid-template-columns: 1fr 25%;
  grid-template-rows: 0.25fr 2.5fr 1fr 0.75fr;
  grid-template-areas:
    'header header'
    'display set-time'
    'controls set-time'
    'counter counter';
}

.header {
  grid-area: header;
  font-size: 1.2rem;
}

.timer-display {
  grid-area: display;
  display: grid;
  grid-template-rows: 1fr 2fr;
  align-items: center;
}

#delay-countdown-display {
  font-size: 2rem;
}

#countdown-display {
  line-height: 5rem;
  font-size: 5rem;
}

.timer-btns {
  grid-area: controls;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.control-btns,
.set-timer-btns {
  border: none;
  color: #f5f5f5;
  background-color: #3c3d37;
  font-size: 1.1rem;
  padding: 0.25rem 0;
  width: 100px;
}

#pause {
  display: none;
}

#next {
  display: none;
}

.set-timer {
  grid-area: set-time;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-self: end;
  margin-bottom: 50px;
}

.set-timer-btns {
  padding: 0.5rem 0;
  width: 150px;
}

.timer-counter {
  grid-area: counter;
}

#counter-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

#timer-counter-display {
  font-size: 0.75rem;
}

#total-time {
  font-size: 2rem;
}

#edit-timer-counter-btn {
  border: none;
  background: none;
  color: #f5f5f5;
  font-size: 1.75rem;
}

dialog::backdrop {
  background-color: #181c1480;
  backdrop-filter: blur(1px);
}

#set-timer-modal[open],
#edit-timer-counter-modal[open],
#counter-reset-modal[open] {
  color: #f5f5f5;
  background-color: #181c14;
  margin: auto;
  padding: 25px;
  gap: 10px;
  border: none;
  display: grid;
  justify-items: center;
  align-items: center;
}

.modal-button,
.counter-button,
.counter-reset-button {
  color: #f5f5f5;
  font-size: 1.25rem;
  border: none;
  background-color: #3c3d37;
  padding: 10px 20px;
  width: 75%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm {
  background-color: #4f6d50;
}

#cancel,
#counter-modal-close-btn {
  justify-self: end;
  align-self: start;
  padding: 15px;
  width: 1rem;
  height: 1rem;
  background-color: #a04747;
}

/* Set Timer modal */
#set-timer-modal[open] {
  height: 100%;
  width: 100%;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-template-rows: 1fr repeat(4, 1fr) 0.5fr;
  grid-template-areas:
    'display close close close'
    'display button button button'
    'display button button button'
    'display button button button'
    'display button button button';
}

#set-timer-modal-display,
#delay-timer-modal-display {
  grid-area: display;
  font-size: 5rem;
}

#cancel {
  grid-area: close;
}

#warning {
  color: #b43f3f;
}

/* Timer counter modal */
#edit-timer-counter-modal[open] {
  height: 75%;
  width: 75%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr repeat(3, 1fr);
  grid-template-areas:
    'close close'
    'display display'
    'button button'
    'reset reset';
}

#modal-total-time-display {
  grid-area: display;
  font-size: 3.5rem;
}

.counter-button {
  width: 90%;
  font-size: 1.2rem;
}

#counter-modal-add-btn {
  justify-self: end;
}

#counter-modal-revert-btn {
  justify-self: start;
}

#counter-modal-reset-btn {
  grid-area: reset;
  width: 50%;
  background-color: #a04747;
}

#counter-modal-close-btn {
  grid-area: close;
}

/* Timer reset modal */
#counter-reset-modal[open] {
  height: 50%;
  width: 50%;
  background-color: #3c3d37;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 0.25fr;
}

#reset-confirmation-msg {
  font-size: 1.2rem;
  grid-column: 1 / span 2;
  text-align: center;
}

.counter-reset-button {
  background-color: #2b2b2b;
  font-size: 1rem;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181c14;
  transition: opacity 0.1s, visibility 0.1s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #3c3d37;
  border-top-color: #f5f5f5;
  border-radius: 50%;
  animation: loading 0.4s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 500px) {
  #main-container {
    max-height: 1000px;
    max-width: 500px;
    padding: 25px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 4fr 1fr 1fr 2.5fr;
    grid-template-areas:
      'header'
      'display'
      'controls'
      'set-time'
      'counter';
  }

  #delay-countdown-display {
    line-height: 2.25rem;
    font-size: 2.25rem;
  }

  #countdown-display {
    line-height: 5rem;
    font-size: 5rem;
  }

  .control-btns {
    width: 100%;
  }

  .timer-btns {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .set-timer-btns {
    width: 100%;
  }

  .set-timer {
    flex-direction: row;
    justify-content: space-between;
    justify-self: normal;
    margin-bottom: 0;
  }

  #counter-container {
    justify-content: space-between;
    align-items: center;
  }

  #timer-counter-display {
    font-size: 1rem;
  }

  #total-time {
    font-size: 2.5rem;
  }

  #set-timer-modal[open] {
    padding: 25px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 2fr repeat(4, 1fr) 0.5fr;
    grid-template-areas:
      'close close close'
      'display display display'
      'button button button'
      'button button button'
      'button button button'
      'button button button'
      'warning warning warning';
  }

  #warning {
    grid-area: warning;
  }

  #edit-timer-counter-modal[open] {
    height: 50%;
    width: 80%;
    gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr repeat(3, 1fr) 0.5fr;
    grid-template-areas:
      'close'
      'display'
      'button'
      'button'
      'reset';
  }

  #modal-total-time-display {
    font-size: 3.5rem;
  }

  #counter-modal-add-btn,
  #counter-modal-revert-btn,
  #counter-modal-reset-btn {
    justify-self: center;
    width: 80%;
  }

  #counter-reset-modal[open] {
    height: 30%;
    width: 70%;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  #main-container {
    background-color: #181c14;
    padding: clamp(16px, 2vw + 1px, 30px) clamp(25px, 2vw + 1px, 30px);
  }

  .header {
    font-size: clamp(1.2rem, 1vw + 0.75rem, 1.75rem);
  }

  #delay-countdown-display {
    line-height: clamp(2rem, 2vw + 1rem, 3rem);
    font-size: clamp(2rem, 2vw + 1rem, 3rem);
  }

  #countdown-display {
    line-height: clamp(5rem, 7vw + 1rem, 7rem);
    font-size: clamp(5rem, 7vw + 1rem, 7rem);
  }

  .control-btns,
  .set-timer-btns {
    font-size: clamp(1.1rem, 1.15rem, 1.25rem);
    padding: clamp(0.25rem, 0.25vw + 0.1rem, 0.75rem) 0;
  }

  #timer-counter-display {
    font-size: clamp(0.75rem, 1vw + 0.25rem, 1.25rem);
  }

  #total-time {
    font-size: clamp(2rem, 1vw + 1rem, 3rem);
  }

  #edit-timer-counter-btn {
    font-size: clamp(1.75rem, 1vw + 1rem, 2.5rem);
  }

  #set-timer-modal[open] {
    max-height: 500px;
    max-width: 1000px;
  }

  #warning {
    font-size: 1.25rem;
  }

  #edit-timer-counter-modal[open] {
    max-height: 350px;
    max-width: 700px;
  }

  #counter-reset-modal[open] {
    max-height: 250px;
    max-width: 500px;
  }
}

@media (orientation: portrait) and (min-width: 500px) {
  #main-container {
    max-height: 1000px;
    max-width: 500px;
    padding: 25px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 5fr 1fr 1fr 2.5fr;
    grid-template-areas:
      'header'
      'display'
      'controls'
      'set-time'
      'counter';
  }

  .header {
    font-size: 1.5rem;
  }

  #delay-countdown-display {
    line-height: 3rem;
    font-size: 3rem;
  }

  #countdown-display {
    line-height: 6rem;
    font-size: 6rem;
  }

  .control-btns,
  .set-timer-btns {
    font-size: 1.25rem;
    padding: 0.5rem 0;
  }

  .control-btns {
    width: 100%;
  }

  .timer-btns {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  .set-timer-btns {
    width: 100%;
  }

  .set-timer {
    flex-direction: row;
    justify-content: space-between;
    justify-self: normal;
    margin-bottom: 0;
  }

  #counter-container {
    justify-content: space-between;
    align-items: center;
  }

  #timer-counter-display {
    font-size: 1.5rem;
  }

  #total-time {
    font-size: 3.5rem;
  }

  #edit-timer-counter-btn {
    font-size: 2.5rem;
  }

  #set-timer-modal[open] {
    padding: 25px;
    max-width: 500px;
    max-height: 1000px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 2fr repeat(4, 1fr) 0.5fr;
    grid-template-areas:
      'close close close'
      'display display display'
      'button button button'
      'button button button'
      'button button button'
      'button button button'
      'warning warning warning';
  }

  #warning {
    grid-area: warning;
    font-size: 1.25rem;
  }

  #edit-timer-counter-modal[open] {
    max-height: 500px;
    max-width: 350px;
    gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr repeat(3, 1fr) 0.5fr;
    grid-template-areas:
      'close'
      'display'
      'button'
      'button'
      'reset';
  }

  #modal-total-time-display {
    font-size: 3.5rem;
  }

  #counter-modal-add-btn,
  #counter-modal-revert-btn,
  #counter-modal-reset-btn {
    justify-self: center;
    width: 80%;
  }

  #counter-reset-modal[open] {
    max-height: 250px;
    max-width: 400px;
  }
}
